body {
	font-family: Helvetica, sans-serif;
}

main {
	display: grid;
	grid-template-rows: repeat(12, 1fr);
	grid-template-columns: repeat(12, 1fr);
}

.button {
	margin: 0;
	padding: 10px;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	color: #FFF;
}

.button:hover {
	transform: scale(1.05);
}

.button:active {
	transform: scale(0.95);
}

.fail {
	background-color: tomato;
}


.success {
	background-color: darkseagreen;
}

.parts {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	align-items: center;
}