body {
	font-family: Helvetica, sans-serif;
}

.button {
	margin: 0;
	padding: 10px;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	color: #FFF;
}

.button:hover {
	transform: scale(1.05);
}

.button:active {
	transform: scale(0.95);
}