body {
	font-family: Helvetica, sans-serif;
}

.button {
	padding: 15px;
	padding: 10px;
	border-radius: 25px;
}

.button:hover {
	transform: scale(1.02);
}

.button:active {
	transform: scale(0.98);
}